@page "/button"
@rendermode InteractiveServer

@using ScottBlazorLibrary.Buttons

<h3>Test of ScottButton</h3>

<ScottButton @ref="@DefaultButton" Text="Hello" Style="ScottButtonStyle.Default" Disabled="false" OnClickCallback="@BeenClicked" />

<ScottButton @ref="@CancelButton" Text="Cancel" Style="ScottButtonStyle.Cancel" Disabled="false" />

<ScottButton @ref="DisabledDefaultButton" Text="Hello Disabled" Style="ScottButtonStyle.Default" Disabled="true" />

<ScottButton @ref="DisabledCancelButton" Text="Cancel Disabled" Style="ScottButtonStyle.Cancel" Disabled="true" />

@code {
    private void BeenClicked()
    {
        Task.Delay(550);
    }
}

